.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgb(8, 1, 42);
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 16px;
  color: #e9ecef;
  height: 50px;
}
.nav-content {
  display: flex;
  justify-content: end;
  width: 25%;
  align-items: center;
}

.nav-bar-buttons-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.nav-bar-links {
  display: inline-block;
  padding-top: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #e9ecef;
}
.nav-bar-links:hover {
  color: #e9ecef;
  text-decoration: underline;
}

.nav-bar-name {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: #e9ecef;
}